.card {
  width: 200px;
  line-height: 60px;
  padding: 0 20px;
  border: 1px solid #000;
  margin: 10px;
  cursor: move;

  background: yellow;
  border: 1px solid black;
}

.dragging {
  border-style: dashed;
  background: transparent;
}